.gender-toggle {
  margin-bottom: 20px;
}

.gender-toggle button {
  padding: 10px;
  margin: 0 5px;
  background: #ddd;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.gender-toggle button.active {
  background: black;
  color: white;
}
